html
{
   overflow: auto;
}

body
{
   background-color:#eee;
   font-family:Verdana, Sans, sans-serif;
   font-size:14px;
   line-height:1.5em;
   color:#666;
}

strong{font-weight:bold;}
em{font-style:italic;}

hr
{
   border:0;
   height:1px;
   background:#aaa;
}

h1
{
   margin-bottom:5px;

   font-size:1.6em;
   font-weight:normal;
   color:#000;
}

p
{
   margin-bottom: 10px;
}

header
{
   margin:25px auto;
   
   width:509px;
   height:51px;
   background-image: url('img/logo.png');
}

#content a
{
   color: #3E7FA1;
   border-bottom: 1px solid #B1CCE9;
}

/*-=-=-=-=-=-=-*/

#content
{
   width:750px;
   margin:0 auto;
   padding:15px;
   
   background:#fff;
   border:1px solid #aaa;
   border-radius: 5px;
   -moz-border-radius: 5px;
   box-shadow: 0 3px 25px #aaa;
   -webkit-box-shadow: 0 3px 25px #aaa;
   -moz-box-shadow: 0 3px 25px #aaa;
}

#status-bar
{
   margin:-16px;
   margin-top:15px;
   margin-bottom: -20px;
   padding:10px;
   clear:both;
   
   background:#ebe7d4;
   border: 1px solid #aaa;
   border-top:1px solid #bba;
   border-radius: 0 0 5px 5px;
   -moz-border-radius: 0 0 5px 5px;
}

#status-bar button, #status-bar input
{
   float:right;
   line-height:1.2em;  /* needed for opera to show round buttons */
   margin-left:5px;
   margin-right:5px;
}

/*-=-=-=-=-=-=-*/

#progress-bar-container
{
   width:300px;
   margin-bottom:-4px;
   
   font-size:0.8em;
   color:#555;
   text-align:center;
   line-height:1.4em;
}

#progress-bar
{
   height:10px;
   width:100%;
   
   border:1px solid #888;
   border-radius:10px;
   -moz-border-radius:10px;
   background:#fff;
}

#progress-bar-progress
{
   margin:-1px;
   height:10px;
   width:100px;
   
   border:inherit;
   border-radius:10px;
   -moz-border-radius:10px;
   background:#8bd;
}

/*-=-=-=-=-=-=-*/

label
{
   display: block;
   padding:5px;
}

label > span
{
   display:inline-block;
   width:350px;
   margin-right:10px;
   
   font-weight:bold;
   text-align:right;
   color:#444;
}

label > span > small
{
   display:block;
   
   font-size:0.8em;
   font-weight:normal;
   color:#777;
   line-height:1.3em;
}

input[type=text],
input[type=password]
{
   width:200px;
   height:13px;
   padding:3px;
   vertical-align:top;
   
   font-size: 0.9em;
}

input[type=radio]
{
   padding: 3px 15px;
   vertical-align:middle;
}

/*-=-=-=-=-=-=-*/

table
{
   width: 100%;
}

td, th
{
   border: 1px solid #ccc;
   padding: 5px 10px;
}

th
{
   width: 250px;
   text-align:right;
   color:#000;
}

table tr:nth-child(odd)
{
   background-color: #f8f8f8;
}

/*-=-=-=-=-=-=-*/

#lang-chooser
{
   margin: 100px auto 0;
   width: 750px;
   
   text-align: center;
}

#lang-chooser a
{
   display: inline-block;
   
   width: 100px;
   margin: 20px;
   padding: 15px;
   
   background: #ddd;
   border: 1px solid #ddd;
   border-radius: 10px;
   -moz-border-radius: 10px;
   color: #555;
   box-shadow: #aaa 0 0 3px, #aaa 2px 2px 5px;
}

#lang-chooser a:hover
{
   background: #d8d8d8;
   border: 1px solid #999;
}

#lang-chooser img
{
   box-shadow: #777 0 0 3px;
}

#lang-chooser a:hover img
{
   box-shadow: #777 0 0 10px;
}

.advanced-hr
{
   margin-top: 25px;
}

.advanced-hr hr
{
   margin-top: 0;
}