/* basic */

html
{
   overflow: auto;
   height: 100%;
   
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
}

body
{
   background-color: #ddd;
   font-family: Verdana, Sans, sans-serif;
   font-size: 14px;
   line-height: 1.5em;
   color: #666;
}

hr
{
   border: 0;
   height: 1px;
   background: #aaa;
}

h1
{
   margin-bottom: 5px;
   font-size: 1.6em;
   font-weight: normal;
   color: #000;
}

p
{
   margin-bottom: 10px;
}

/**************************************************************************/
/* header */

header
{
   position: absolute;
   width: 100%;
   
   background: /*#ddd*/ rgba(128,255,255,.2);
   
   outline: 1px solid red;
}

header div
{
   height: 100px;

   background: #ddd url('img/logo.png') no-repeat center;
   outline: 1px solid red;
}

/**************************************************************************/
/* container */

#container
{
   position: absolute;
   width: 100%;
   top: 100px;
   
   background: #ddd;
}

#wrapper
{
   width: 750px;
   margin: 0 auto;
   
   box-shadow: 0 3px 40px #999, 0 7px 40px #ddd;
   border-radius: 7px;
   border: 1px solid #aaa;
}

#content
{
   overflow: hidden;
   position: relative;
   width: 750px;
   
   background: #fff;
   background: #fff -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
   border-radius: 7px 7px 0 0;
}

#content-inner
{
   overflow: hidden;
   width: 1500px;
   margin-left: -300px;
}

.content-box
{
   float: left;
   width: 720px;
   padding: 15px;
}






/**************************************************************************/




#content a
{
   color: #3E7FA1;
   border-bottom: 1px solid #B1CCE9;
}

#status-bar
{
   padding: 10px;
   background: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#bbb));
   box-shadow: inset 0 3px 4px #ccc;
   border-radius: 0 0 5px 5px;
}

#status-bar button, #status-bar input
{
   float: right;
   line-height: 1.2em;
   margin-left: 5px;
   margin-right: 5px;
}

#progress-bar-container
{
   width: 300px;
   margin-bottom: -4px;
   font-size: 0.8em;
   color: #555;
   text-align: center;
   line-height: 1.4em;
}

#progress-bar
{
   height: 10px;
   width: 100%;
   border: 1px solid #888;
   border-radius: 10px;
   background: #fff;
   box-shadow: inset 0 -2px 2px #eee;
}


#progress-bar-progress
{
   margin: -1px;
   height: 10px;
   width: 100px;
   border: inherit;
   border-radius: 10px;
   background: -webkit-gradient(linear,left top,left bottom,from(#9ce),to(#7ac));
}

label
{
   display: block;
   padding: 5px;
}

label > span
{
   display: inline-block;
   width: 350px;
   margin-right: 10px;
   font-weight: bold;
   text-align: right;
   color: #444;
}

label > span > small
{
   display: block;
   font-size: 0.8em;
   font-weight: normal;
   color: #777;
   line-height: 1.3em;
}

input[type=text], input[type=password]
{
   width: 200px;
   height: 15px;
   padding: 3px;
   vertical-align: top;
   font-size: 0.9em;
}

input[type=radio]
{
   padding: 3px 15px;
   vertical-align: middle;
}

table
{
   width: 100%;
}

td, th
{
   border: 1px solid #ddd;
   padding: 5px 10px;
}

th
{
   width: 250px;
   text-align: right;
   color: #000;
}

table tr:nth-child(odd)
{
   background-color: #f8f8f8;
}

.advanced-hr
{
   margin-top: 25px;
}

.advanced-hr hr
{
   margin-top: 0;
}
