@import url('reset.css');

body
{
   background-color:#eee;
   font-family:Verdana, Sans, sans-serif;
   font-size:14px;
   line-height:1.5em;
   color:#666;
}

strong{font-weight:bold;}
em{font-style:italic;}

hr
{
   border:0;
   height:1px;
   background:#aaa;
}

h1
{
   margin-bottom:5px;

   font-size:1.6em;
   font-weight:normal;
   color:#000;
}

header
{
   margin:25px auto;
   
   width:509px;
   height:51px;
   background-image: url('logo.png');
}

/*-=-=-=-=-=-=-*/

#content
{
   width:750px;
   margin:0 auto;
   padding:15px;
   
   background:#fff;
   border:1px solid #aaa;
   box-shadow: 0 0 25px #ccc;
}

#status-bar
{
   margin:-15px;
   margin-top:15px;
   padding:10px;
   clear:both;
   
   background:#ebe7d4;
   border-top:1px solid #bba;
}

#status-bar button
{
   float:right;
   line-height:1.2em;  /* needed for opera to show round buttons */
   margin-left:5px;
   margin-right:5px;
}

/*-=-=-=-=-=-=-*/

#progress-bar-container
{
   width:300px;
   margin-bottom:-4px;
   
   font-size:0.8em;
   color:#555;
   text-align:center;
   line-height:1.4em;
}

#progress-bar
{
   height:10px;
   width:100%;
   
   border:1px solid #888;
   border-radius:10px;
   background:#fff;
}

#progress-bar-progress
{
   margin:-1px;
   height:10px;
   width:100px;
   
   border:inherit;
   border-radius:10px;
   background:#8bd;
}

/*-=-=-=-=-=-=-*/

form > div
{
   padding:5px;
}

label
{
   display:inline-block;
   width:350px;
   margin-right:10px;
   
   font-weight:bold;
   text-align:right;
   color:#444;
}

label span
{
   display:block;
   
   font-size:0.8em;
   font-weight:normal;
   color:#777;
   line-height:1.3em;
}

input
{
   width:200px;
   height:13px;
   padding:3px;
   vertical-align:top;
}

/*-=-=-=-=-=-=-*/

.error-box
{
   border: 1px solid #B65;
   background: #FA9 url('icons/exclamation-red.png') no-repeat 10px center;
}

.warning-box
{
   border: 1px solid #B85;
   background: #FE9 url('icons/exclamation.png') no-repeat 10px center;
}

.info-box
{
   border: 1px solid #57B;
   background: #ABF url('icons/information.png') no-repeat 10px center;
}

.tick-box
{
   border: 1px solid #8B5;
   background: #CFA url('icons/tick.png') no-repeat 10px center;
}

.tip-box
{
   border: 1px solid #AAB;
   background: #f8f8f8 url('icons/light-bulb.png') no-repeat 10px center;
}

.error-box strong
{
   color: #943;
}

.warning-box strong
{
   color: #963;
}

.info-box strong
{
   color: #359;
}

.tick-box strong
{
   color: #693;
}

.tip-box strong
{
   color: #888;
}

.error-box,
.warning-box,
.info-box,
.tick-box,
.tip-box
{
   padding: 10px;
   margin: 10px;
   padding-left: 36px;
   
   color:#000;
}

.error-box strong,
.warning-box strong,
.info-box strong,
.tick-box strong,
.tip-box strong
{
   display: block;
}