#
# Watermelon Nice URL-s
#

<IfModule mod_rewrite.c>
   RewriteEngine On
   
   # URL test (for detection whether mod_rewrite works)
   
   RewriteRule wmelon/core/urltest.php$ wmelon/core/urltest.php?%{QUERY_STRING}&works [L]
   
   # x -> index.php/x
   
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

Options -MultiViews

#
# Watermelon-related configuration (based on HTML5 Boilerplate)
#


# Chrome Frame, IE

<IfModule mod_setenvif.c>
   <IfModule mod_headers.c>
      BrowserMatch MSIE ie
      Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
   </IfModule>
</IfModule>

<IfModule mod_headers.c>
   Header append Vary User-Agent
</IfModule>

# mime types

AddType video/ogg                     ogg ogv
AddType video/mp4                     mp4
AddType video/webm                    webm

AddType     image/svg+xml             svg svgz 
AddEncoding gzip                      svgz

# gzip compression.

<IfModule mod_deflate.c>
   AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript application/javascript application/json
   AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
   AddOutputFilterByType DEFLATE text/xml application/xml text/x-component application/atom+xml

   <FilesMatch "\.(ttf|otf|eot|svg)$" >
      SetOutputFilter DEFLATE
   </FilesMatch>
</IfModule>

# caching

<IfModule mod_expires.c>
   Header set Cache-Control "public"
   ExpiresActive on

   ExpiresByType image/vnd.microsoft.icon  "access plus 1 week" 

   ExpiresByType image/gif                 "access plus 1 month"
   ExpiresByType image/png                 "access plus 1 month"
   ExpiresByType image/jpg                 "access plus 1 month"
   ExpiresByType image/jpeg                "access plus 1 month"

   ExpiresByType font/truetype             "access plus 1 month"
   ExpiresByType font/opentype             "access plus 1 month"
   ExpiresByType font/woff                 "access plus 1 month"
   ExpiresByType image/svg+xml             "access plus 1 month"
   ExpiresByType application/vnd.ms-fontobject "access plus 1 month"

   ExpiresByType text/css                  "access plus 1 month"
   ExpiresByType application/javascript    "access plus 1 month"
   ExpiresByType text/javascript           "access plus 1 month"
</IfModule>

FileETag None

# "www." is bullshit

<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{HTTPS} !=on
   RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
   RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
</IfModule>

# UTF-8

AddDefaultCharset utf-8
AddCharset utf-8 .html .css .js