*
{
	margin: 0;
	padding: 0;	
}

body
{
   background: #EEE;
   font-family: Verdana;
   font-size: 14px;
}

#bg
{
   z-index: -10;
   position: fixed;
}

#bg img
{
   width: 1280px;   
}

a
{
   color: #57B;
   text-decoration: none;
}

a:hover
{
   border-bottom: 1px dotted #57B;
}

a:visited
{
   color: #659;
}

a:visited:hover
{
   border-bottom: 1px dotted #659;
}

/************************************/

#header a, #header a:visited
{
   color: #FFF;
}

#header a:hover, #header a:visited:hover
{
   border-bottom: 1px dotted #fff;
}

#header
{
   background: #719F3E;
   width:100%;
   height:50px;
   padding-top: 10px;
}

#header span.h1
{
   padding-left: 25px;   
   font-size: 2.5em;
   color: #AFD971;
   font-family: Georgia, "Times New Roman", Times, serif;
   letter-spacing: -.05em;
}

#header div
{
   position: absolute;
   right: 5px;
   top: 5px;
}

#menu
{
   background-color: #AFD971;
}

#menu > div
{
   padding: 6px;
}

#menu div a
{
   display: block;
   float: left;
   margin-left: 20px;
   padding: 3px;
   padding-left: 5px;
   padding-right: 5px;
   border: 0;
   font-size: 1.1em;
   color: black;
}

#menu div a:hover
{
   background-color: #C8E49C;
}

#menu div a.current
{
   margin-top: 3px;
   background-color: #C8E49C;
}

#submenu
{
   background-color: #C8E49C;
   border-bottom: 2px solid #fff;
}

#submenu > div
{
   padding: 6px;
}

#submenu div a
{
   display: block;
   float: left;
   margin-left: 20px;
   padding: 3px;
   padding-left: 5px;
   padding-right: 5px;
   border: 0;
   font-size: .9em;
   color: black;
}

#submenu div a:hover
{
   background-color: #fff;
}

#submenu div a.current
{
   margin-top: 3px;
   background-color: #fff;
}

/*****************************/
#content
{
   padding: 10px;
   background-color: #fff;
   width: 90%;
   margin: 0 auto;
   margin-bottom: 150px;
   opacity: 1;
   border: 1px solid #BBB;
   border-top: 0;
}

/*
h1
{
   font-size: 1.5em;
   margin:-10px;
   margin-bottom: 15px;
   text-align: center;
}*/

.box_e
{
   border: 1px solid #B65;
   background: #FA9 url('images/be.png') no-repeat 10px center;
}
.box_w
{
   border: 1px solid #B85;
   background: #FE9 url('images/bw.png') no-repeat 10px center;
}
.box_i
{
   border: 1px solid #57B;
   background: #ABF url('images/bi.png') no-repeat 10px center;
}
.box_c
{
   border: 1px solid #8B5;
   background: #CFA url('images/bg.png') no-repeat 10px center;
}
.box_t
{
   border: 1px solid #AAA;
   background: #EEE url('images/bt.png') no-repeat 10px center;
}

.box_e strong
{
   color: #943;
}

.box_w strong
{
   color: #963;
}

.box_i strong
{
   color: #359;
}

.box_t strong
{
   color: #888;
}

.box_e,
.box_w,
.box_i,
.box_c,
.box_t
{
   padding: 10px;
   margin: 10px;
   padding-left: 36px;
}

.box_e strong,
.box_w strong,
.box_i strong,
.box_t strong
{
   display: block;   
}

/****************************************/

table
{
   width: 100%;
}

th
{
   padding: 5px;
   margin: 1px;
   background-color: #CCC;
   text-align: left;
   font-weight: bold;
}

td
{
   padding: 5px;
   margin: 1px;
}

tr.secondline td
{
   background-color: #EEE;
}