@import url("../watermelon/public/basic.css");
@import url("../watermelon/public/watermelon.css");

body
{
   font-size: 13px;
   font-family: Helvetica, Verdana, Sans, sans-serif;
   background: #3A5A85 url('img/bg-noise.png');
}

q
{
   quotes: "«" "»";
   color: #888;
}

li
{
   list-style-type: square;
}

table
{
   width: 100%;
}

td
{
   border: 1px solid #ccc;
   padding: 3px;
}

th, caption
{
   text-align: center;
   border: 1px solid #bbb;
   padding: 3px;
}

th
{
   background: #eee;
}

caption
{
   background: #ddd;
   font-size: 14px;
   font-weight: bold;
   border-bottom: 0;
}

fieldset
{
   border: 1px solid #bbb;
}

legend
{
   font-weight: normal;
   color: #666;
}

label
{
   display: block;
}

label > span
{
   display: inline-block;
   width: 150px;
   text-align: right;
   padding-right: 5px;
   vertical-align: top;
}

label > span > small
{
   display: block;
}

textarea
{
   height: 8em;
   width: 400px;
}

code
{
   font-family: Monaco, monospace;
   background: #F8F6D5;
   padding: 0 2px;
   border: 1px solid #C8C6A5;
}

blockquote
{
   margin: 15px 30px;
   padding: 7px;
   padding-left: 15px;
   background-color: #eef0f7;
   border-left: 5px solid #3A5A85;
   border-right: 1px solid #ced0d7;
}

a
{
   color: #859e1c;
   text-decoration: none;
}

a:visited
{
   color: #a55e1c;
}

a:hover
{
   text-decoration: underline;
}

#container h1
{
   clear: both;
   margin-bottom: 20px;
   
   border-bottom: 1px solid #ccc !important;
}

#container h1,
#container h1 > a,
#container h1 > a:hover,
#container h1 > a:visited
{
   border: 0;
   text-decoration: none;
   
   font-size: 23px;
   color: #333;
   font-family: Palatino;
   text-shadow: 0 1px 0 #ccc;
}

#container h1 > a:hover
{
   text-shadow: 0 1px 2px #888;
}

.h1-comment,
h1 .adminTools,
h1 .adminTools a
{
   display: inline-block;
   padding-left: 5px;
   
   line-height: 1em;
   font-size: 12px;
   font-weight: normal;
   text-shadow: none;
   font-family: Helvetica, Verdana, Sans, sans-serif;
   color: #888;
}

#container h2
{
   font-size: 18px;
}

#container p
{
   margin-bottom: 1em;
   
   color: #444;
}

/*
 * Struktura
 */

#container
{
   overflow: hidden;
   
   width: 950px;
   margin: 0 auto 50px;
   
   background-color: #fff;
   background-image: url('img/center.png');
   box-shadow: 0 3px 30px #000;
   -webkit-box-shadow: 0 3px 30px #000;
   border-radius: 3px;
}

#sidebar
{
   float: right;
   
   width: 230px;
   padding: 15px 10px;
   
   line-height: 1.5em;
   background-color: #f2ede1;
   border-radius: 0 5px 5px 0;
}

#content
{
   float: right;
   overflow: hidden;
   width: 670px;
   padding: 15px;
   line-height: 1.7em;
}

body > footer
{
   clear: both;
   color: #93b2d0;
   text-align: center;
}

#clear
{
   clear:both; /* help me delete this! */
}

/*
 * Header
 */

body > header
{
   margin: 15px;
   margin-bottom: 5px;
   text-align: center;
}

body > header > div
{
   display: inline-block;
}

#siteName
{
   display: inline-block;
   
   font-family: Palatino;
   letter-spacing: 0.05em;
   font-size: 32px;
   line-height: 1em;
}

#siteName a
{
   padding: 0 10px;
   
   color: #b5ce4c;
   text-decoration: none;
   text-shadow: 0 0 3px rgba(230, 258, 115, .5);
}

#siteName a:hover
{
   text-shadow: 0 0 3px #000A35, 0 0 20px #000A35;
}

#siteSlogan
{
   padding: 2px 12px;
   text-align: right;
   font-size: 12px;
   color: #93b2d0;
}

/*
 * navigation
 */

#nav
{
   display: block;
   width: 950px;
   margin: 0 auto;
}

#nav li
{
   display: inline-block;
   vertical-align: bottom;
   margin-left: 5px;
   padding-top: 10px;
}

#nav a
{
   display: inline-block;
   padding: 5px 7px;
   height: 13px;
   
   opacity: .7;
   background: #000;
   text-decoration: none;
   color: #859e1c;
   border-radius: 3px 3px 0 0;
}

#nav a:hover
{
   opacity: 1;
   color: #a5be3c;
   
   box-shadow: 0 0 7px rgba(255,255,255,.8);
   -webkit-box-shadow: 0 0 7px rgba(255,255,255,.8);
}

#nav .currentPage
{
   padding-top: 0;
}

#nav .currentPage a
{
   padding: 10px 7px;
}

/*
 * Sidebar and footer styles
 */

#sidebar hr
{
   border: 0;
   height: 3px;
   width: 60%;
   background: #fefcf2;
}

body > footer a, #footer a:visited
{
   color: #d5ee6c;
   text-decoration: none;
   border: 0;
}

body > footer a:hover, #footer a:visited:hover
{
   color: #fff;
   background: #859e1c;
}

#sidebar a
{
   border: 0;
}

#sidebar:hover a
{
   border-bottom: 1px solid #ccc;
}

#sidebar:hover a:hover
{
   border: 0;
}


/*
 * Blog and comments
 */

.blog-readMore
{
   display: block;
   float: right;
   padding: 3px 15px;
   margin-bottom: 15px;
   
   border-bottom: 1px solid #eee;
   line-height: 1em;
}

.blog-pages-top,
.blog-pages-bottom
{
   display: table;
   margin: -15px;
   height: 46px;
   width: 700px;
}

.blog-pages-top
{
   margin-bottom: 15px;
   border-bottom: 1px solid #ddd;
}

.blog-pages-bottom
{
   margin-top: 15px;
   border-top: 1px solid #ddd;
}

.blog-previousPage,
.blog-nextPage
{
   display: table-cell;
   vertical-align: center;
   width: 200px;
   padding: 15px 20px;
   
   font-size: 16px;
   line-height: 1em;
}

.blog-nextPage
{
   text-align: right;
}

.blog-page
{
   display: table-cell;
   vertical-align: center;
   
   line-height: 1em;
   font-size: 12px;
   color: #aaa;
   text-align: center;
}

.comment
{
   margin-bottom: 20px;
   overflow: hidden;
   display: table;
   width: 100%;
   
   border: 1px solid transparent;
   border-radius: 5px;
}

.comment:nth-of-type(odd)
{
   background-color: #f8f8f8;
   border: 1px solid #ddd;
}

.comment header
{
   display: table-cell;
   width: 90px;
   padding: 5px;
   border-right: 1px solid #e1e4db;
   color: #888;
}

.comment header img
{
   display: block;
}

.comment section
{
   display: table-cell;
   vertical-align: top;
   padding: 5px;
   padding-left: 7px;
}

.comment .adminTools
{
   padding: 3px 7px;
   float: right;
   margin: -6px -6px 5px 5px;
   
   font-size: .9em;
   border: 1px solid #ddd;
   border-radius: 0 5px 0 5px;
}

.comment .adminTools:hover
{
   opacity: 1;
}


h1 .adminTools
{
   float: right;
   display: inline-block;
   padding: 5px 5px;
   
   color: #bbb;
}

h1 .adminTools a
{
   display: inline;
   padding: 0;
   
   color: #bbb;
}

h1 .adminTools:hover,
h1 .adminTools:hover a
{
   color: #888;
   text-shadow: none;
}