/*
 * reset
 */

a, abbr, address, article, aside, audio, b, blockquote, body, canvas,
caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup,
html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,
object, ol, p, pre, q, samp, section, small, span, strong, sub, summary,
sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video
{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}

article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary
{
   display: block;
}

table
{
   border-spacing: 0;
   border-collapse: collapse;
}

a, del, ins { text-decoration: none; }
ul, ol { list-style: none; }
caption, th { text-align: left;}
q:after, q:before { content: ""; }

/* 
 * minimal base styles 
 */

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

small { font-size: 85%; }
strong { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

del { text-decoration: line-through; }
ins { border-bottom: 1px dotted #888; }

pre
{ 
   padding: 15px;
   white-space: pre; /* CSS2 */
   white-space: pre-wrap; /* CSS 2.1 */
   word-wrap: break-word; /* IE */
}

textarea { overflow: auto; }
.ie7 legend { margin-left: -7px; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
button, input, select, textarea { margin: 0; }
button {  width: auto; overflow: visible; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

/* 
 * print styles  
 */

@media print
{
   * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
   a, a:visited { color: #444 !important; text-decoration: underline; }
   a:after { content: " (" attr(href) ")"; }
   abbr:after { content: " (" attr(title) ")"; }
   .ir a:after { content: ""; }  /* Don't show links for images */
   pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
   thead { display: table-header-group; }
   tr, img { page-break-inside: avoid; }
   @page { margin: 0.5cm; }
   p, h2, h3 { orphans: 3; widows: 3; }
   h2, h3{ page-break-after: avoid; }
}

/*
 * Media queries for responsive design
 */

/*
@media all and (orientation:portrait){}
@media all and (orientation:landscape){}
@media screen and (max-device-width: 480px){}
*/