/*
 * Unsemantic Image Aligners
 */

.imgRight  { float: right; }
.imgLeft   { float: left; }
.imgCenter { margin: 0 auto; }

/*
 * Boxes
 */

.errorBox
{
   border: 1px solid #cc7766;
   background: #ffaa99 url('img/error.png') no-repeat 10px center;
}

.warningBox
{
   border: 1px solid #cc99aa;
   background: #ffee99 url('img/warning.png') no-repeat 10px center;
}

.infoBox
{
   border: 1px solid #8499d9;
   background: #c8dfff url('img/info.png') no-repeat 10px center;
}

.tickBox
{
   border: 1px solid #97c32d;
   background: #deeba8 url('img/tick.png') no-repeat 10px center;
}

.tipBox
{
   border: 1px solid #bbb;
   background: #f8f8f8 url('img/tip.png') no-repeat 10px center;
}

.questionBox
{
   border: 1px solid #bbd;
   background: #f0f0ff url('img/question.png') no-repeat 10px center;
}

.errorBox,
.warningBox,
.infoBox,
.tickBox,
.tipBox,
.questionBox
{
   padding: 10px;
   margin: 10px;
   padding-left: 40px;
}

.questionBox menu
{
   text-align: right;
}

.questionBox menu
{
   height: 24px;
}

.questionBox form
{
   display: inline;
}

.questionBox form input
{
   height: 16px;
}